<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
		<ul>
      <li><a href="./news">News</a></li>
      <li><a href="./donations">Donations</li>
			<li><a href="./downloads">Downloads</li>
			<li><a href="./login">Login</li>
			<li><a href="./about">About</li>
    </ul>
  </body>
</html>
